:root {
    --system-violet: #6725A8;
    --system-magenta: #CB11AB;
    --system-white: #FFFFFF;
    --text-black: #000000;
    --system-green: #0CB477;
    --system-red: #F55123;
    --system-gray: #A0A0A4;
    --rulers-rulers-input: rgba(0, 0, 0, 0.20);
    --background-smoky: #F6F6FA;
    --dark-system-coral: #FF3B30;
    --error: #fa0d0d;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--system-violet);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* header */

.header__container {
    padding: 16px 3px 16px 24px;
    max-width: 1373px;
    display: flex;
    align-items: end;
}

.header__menu_btn {
    display: flex;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-right: 16px;
}

.header__menu_btn:hover {
    border: 1px solid var(--system-white);
}

.header__logo {
    color: var(--system-white);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 0.56px;
    margin-right: 32px;
    min-width: 107px;
}

.header__search{
    width: 100%;
    max-width: 970px;
    display: flex;
    position: relative;
}

.header__input {
    width: 100%;
    max-width: 930px;
    padding: 10px 52px 14px 20px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid transparent;
    color: var(--system-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header__input::placeholder {
    color: var(--system-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header__input:focus {
    background: var(--system-white);
    color: var(--text-black);
    border: 1px solid transparent;
    outline: none;
}

.search_icon {
    position: absolute;
    right: 20px;
    padding: 10px 0;
}

.header__btns {
    text-align: center;
}

.header__btns-icons {
    margin-bottom: 7px;
}

.subicon_text {
    color: var(--system-white);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.header__profile {
    margin-left: 32px;
}

.header__shopping-cart {
    margin-left: 43px;
    position: relative;
}

.shopping-status {
    position: absolute;
    top: -6px;
    right: 0px;
    background: var(--system-red);
    border-radius: 16px;
    padding: 0px 2px 1px;
    height: 15px;
    width: 12px;
    transform: rotate(0.074deg);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--system-white);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

/* main */

.main {
    background: var(--background-smoky);
    padding: 24px 0;
    border-radius: 24px;
}

.container__main {
    padding: 10px 24px 16px;
    max-width: 1352px;
}

.basket__form {
    display: flex;
    justify-content: space-between;
}

/* basket__content */

.basket__content {
    max-width: 892px;
    width: 100%;
}

.basket-section {
    margin-bottom: 40px;
}

.basket-section__title {
    color: var(--text-black);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-bottom: 27px;
}

.collapsed {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.basket-checkbox-arrow {
    cursor: pointer;
}

.basket-section__checkbox-all {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.basket-checkbox {
    position: relative;
}

.real-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--system-white);
    border: 1px solid var(--rulers-rulers-input);
    border-radius: 6px;
    vertical-align: sub;
    transition: 0.2s ease-in;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/done.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: 0.2s ease-in;
}

.basket-checkbox:hover .custom-checkbox {
    border: 1px solid var(--system-gray);
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:checked + .custom-checkbox {
    background: var(--system-magenta);
    border: 1px solid transparent;
}

.basket-checkbox-text {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}

/* items */

.basket-section__items {
    color: var(--text-black);
}

.basket-section__item {
    display: flex;
    margin-bottom: 20px;
}

.item__checkbox {
    display: flex;
    align-items: center;
    height: 96px;
}

.item__img {
    margin: 0 16px 0 12px;
}

.item__img img {
    max-width: 72px;
    border-radius: 8px;
}

.item__info {
    margin-right: auto;
}

.item__info-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    width: 275px;
}

.item__info-data {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

.item__info-color {
    margin-right: 16px;
}

.item__info-store,  .item__info-provider{
    color: var(--system-gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.item__info-provider {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.item__info-provider img {
    margin-left: 6px;
}

.provider-info {
    cursor: pointer;
    position: relative;
}

.provider-hover-info {
    position: absolute;
    top: 100%;
    right: -143px;
    width: 256px;
    padding: 10px 16px 14px 16px;
    border-radius: 8px;
    background: var(--system-white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.provider-info:hover .provider-hover-info {
    opacity: 1;
    visibility: visible;
}

.provider-hover-info-title {
    font-weight: 700;
    margin-bottom: 8px;
}

.provider-hover-info-regnum {
    margin-bottom: 8px;
}

.item__count {
    width: 100px;
    margin-right: 16px;
}

.item-counter {
    background: var(--system-white);
    border-radius: 8px;
    padding: 12px 10px 16px 12px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter__minus, .counter__plus {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.counter__number {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.last-item {
    color: var(--rulers-rulers-input);
    cursor: default;
}

.item-rest {
    color: var(--dark-system-coral);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

.item__btns {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.item__btn {
    cursor: pointer;
}

.item__btn:hover svg{
    fill: var(--system-red);
}

.item_price {
    width: 120px;
    text-align: right;
}

.new-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 5px;
}

.big-price {
    font-size: 16px;
    line-height: 24px;
}

.price-com {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 1px;
}

.old-price__block {
    color: var(--system-gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: relative;
}

.old-price {
    text-decoration: line-through;
    cursor: pointer;
}

.old-price-hover {
    position: absolute;
    top: 100%;
    right: 0;
    width: 256px;
    padding: 10px 16px 14px 16px;
    border-radius: 8px;
    background: var(--system-white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.old-price__block:hover .old-price-hover {
    opacity: 1;
    visibility: visible;
}

.old-price__discount {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.disccount-num {
    color: var(--text-black);
}
/* basket__sidebar  */

.basket__sidebar {
    align-self: flex-start;
    background: var(--system-white);
    padding: 16px 24px 24px;
    border-radius: 16px;
    width: 381px;
    margin-left: 32px;
    position: sticky;
    top: 10px;
}

.basket__siderbar-result {
    margin-bottom: 24px;
}

.result-title  {
    color: var(--text-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.result-com {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.result-goods, .result-discount, .result-delivery {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.basket__siderbar-delivery {
    margin-bottom: 24px;
}

.delivery-title, .payment-title {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.delivery-fix, .payment-fix {
    cursor: pointer;
}

.delivery-address {
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
}

.delivery-date {
    color: var(--system-magenta);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 13px;
}

.delivery-info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 12px;
    border-radius: 8px;
    background: var(--background-smoky);
}

.delivery-info__text {
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.delivery-info__free {
    color: var(--system-green);
    cursor: pointer;
    position: relative;
}

.delivery-hover-info {
    position: absolute;
    top: 100%;
    right: -143px;
    width: 256px;
    padding: 10px 16px 14px 16px;
    border-radius: 8px;
    background: var(--system-white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.delivery-info__free:hover .delivery-hover-info {
    opacity: 1;
    visibility: visible;
}

.basket__siderbar-payment {
    margin-bottom: 24px;
}

.payment-data {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.payment-logo {
    width: 32px;
    height: 24px;
    border-radius: 4px;
    background: var(--background-smoky);
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-card {
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.payment-time {
    padding: 8px 8px 12px;
    border-radius: 8px;
    background: var(--background-smoky);
}

.payment-time__checkbox {
    margin-bottom: 8px;
}

.payment-checkbox-text {
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 3px;
    margin-left: 4px;
}

.payment-time__text {
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.basket__siderbar-order {
    margin-bottom: 12px;
}

.order-btn {
    border: none;
    display: flex;
    width: 100%;
    height: 44px;
    padding: 0px 32px 5px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--system-magenta);
    color: var(--system-white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.basket__siderbar-agreement {
    display: flex;
    gap: 8px;
}

.agreement-text {
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

/* section__missing */

.basket-section__missing-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 18px;
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: space-between;
}

.missing-items {
    color: var(--system-gray);
}

.missing-item__img {
    margin-left: 0;
}

.missing-item__img img {
    filter: grayscale(100%);
}

.missing-item__btn {
    color: var(--text-black);
}

.missing-item__btn:hover svg{
    fill: var(--system-magenta);
}

/* delivery-section */

.detail-section {
    border-radius: 16px;
    background: var(--system-white);
    color: var(--text-black);
    padding: 16px 24px 24px;
    margin-bottom: 16px;
}

.detail-section__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px ;
}

.detail-section__title-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.detail-section__fix {
    color: var(--system-magenta);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.delivery-details {
    margin-bottom: 8px;
}

.details-row {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
}

.details-first-col {
    width: 178px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.details-second-col {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.details-worktime {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.details-rating {
    margin: 0 8px 0 4px;
}

.details-imgs {
    display: flex;
    gap: 8px;
}

.details-img {
    position: relative;
}

.details-img img {
    max-width: 40px;
    border-radius: 8px;
}

.delivery-count {
    position: absolute;
    right: -4px;
    top: -8px;
    display: flex;
    padding: 1px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--system-red);
    color: var(--system-white);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    min-width: 12px;
}

.delivery-section__info {
    background: var(--system-white);
    padding: 0;
}

/* payment-section */

.payment-section__payment-card {
    font-size: 16px;
    line-height: 24px;
}

.payment-card__date {
    margin-left: 12px;
}

.payment-section__text {
    color: var(--system-gray);
}

/* user-section */

.user__data {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.user__input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--rulers-rulers-input);
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 4px;
}

.user__input::placeholder {
    color: var(--rulers-rulers-input);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.user__input:focus {
    border: none;
    border-bottom: 1px solid var(--rulers-rulers-input);
    outline: none;
}

.input__block {
    width: 100%;
    position: relative;
}

.input__subtext {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 220px;
    width: 100%;
    color: var(--text-black);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.input__subtext-orange {
    color: var(--system-red);
}

.orange__input {
    border-bottom: 1px solid var(--system-red);
}

.orange__input::placeholder {
    color: var(--system-red);
}

.input__subtext-red {
    color: var(--error);
}

.red__input {
    border-bottom: 1px solid var(--error);
    color: var(--error);
}

/* footer */

.footer__container {
    padding: 25px 0;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.70);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

/* change-section */

.change-section {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(5, 0, 10, 0.30);
    top: 0;
    left: 0;
}

.close {
    font-size: 34px;
    color: var(--system-gray);
    cursor: pointer;
}

.change__container {
    width: 400px;
    background: var(--background-smoky);
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 14px 20px 24px 24px;
}

.change__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.change__title-text {
    color: var(--text-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.change__items {
    margin-bottom: 123px;
}

.change__item {
    margin-bottom: 16px;
}

.change__radio {
    display: flex;
    align-items: center;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--rulers-rulers-input);
    margin-right: 12px;
    vertical-align: text-top;
}

.custom-radio::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background: var(--system-white);
    border-radius: 50%;
}

.real-radio:checked + .custom-radio {
    background-color: var(--system-magenta);
    border: 1px solid var(--system-magenta);
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

.change__radio:hover .custom-radio {
    border: 1px solid var(--system-gray);
}

.change__img {
    width: 35px;
    display: block;
    padding: 7px 1px;
    border-radius: 4px;
    background: var(--background-smoky);
    margin-right: 4px;
}

.change__radio-text {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 340px;
}

.change-btn {
    background: var(--system-magenta);
    padding: 12px 48px;
    color: var(--system-white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* change-section__delivery */

.change__delivery-type {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 26px;
}

.change__items-take {
    display: none;
}

.change__items-courier, .change__items-take {
    min-height: 220px;
    margin-bottom: 33px;
}

.delivery-type__btn {
    width: 100%;
}

.delivery-type__btns {
    width: 100%;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background: var(--text-white);
    color: var(--text-black, #000);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 11px;
}

.btn-active{
    border: 2px solid var(--system-magenta);
}

.change__item-delete {
    margin-bottom: 24px;
}

.change__radio-delete {
    margin-left: auto;
    color: var(--system-gray);
    cursor: pointer;
}

.change__radio-delete:hover svg{
    fill: var(--system-red);
}

.change__item-delete__subtitle {
    color: var(--light-system-text);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 12px;
}

.change__radio-subtext {
    color: var(--system-gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.rating-num {
    color: var(--text-black);
    margin-right: 8px;
}

.hide {
    display: none;
}